div span{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}
.flag{
   
    width:100%;
    /* background-size: cover; */
    /* object-fit: contain; */
    /* padding:10px; */
   
}
.container{
    
     max-width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding:20px;
    background-color: rgb(102, 95, 95) ;
    
}
body{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}
.info{
    margin-top: 20px;
    padding: 10px;
}
h4{
    margin-top:20px ;
}